[build]
  command = "npm run build"
  publish = ".next"

# Redirect away from the Netlify subdomain.
[[redirects]]
  from = "https://gnazario.netlify.com/*"
  to = "https://gnazar.io/:splat"
  status = 301
  force = true

[[plugins]]
  package = "@netlify/plugin-nextjs"
